@(formulario: Form[Tipousuario])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(views.html.include.fieldConstructorInput.render) }

@main("Control Acceso Usuarios") {

<h2> Nuevo Tipo de Usuario </h2>

@form(routes.Tipousuarios.save()) {
	<fieldset>
		@inputText(formulario("name"), '_showConstraints -> false, '_label -> "Nombre :")
	</fieldset>
    
    <input type="submit" value="Crear"> -
	<a href="@routes.Tipousuarios.index"> <input type="button" value="Cancelar"> </a>

}
  
}
