@main("Control Acceso Usuarios") {
    
<h2> Opciones de Menu y Acceso a Usuarios </h2>

<table>
	<tr>
		<td> <a href="@routes.Tipousuarios.index"> <img src="@routes.Assets.at("images/tipos.png")"> </a> </td>
		<td></td>
		<td> <a href="#"> <img src="@routes.Assets.at("images/usuario.png")"> </a> </td>
		<td></td>
		<td> <a href="#"> <img src="@routes.Assets.at("images/menu.png")"> </a> </td>
		<td></td>
		<td> <a href="#"> <img src="@routes.Assets.at("images/control.png")"> </a> </td>
	</tr>

	<tr>
		<th>Tipos de Usuarios</th>
		<th></th>
		<th>Usuarios del Sistema</th>
		<th></th>
		<th>Opciones de Menu</th>
		<th></th>
		<th>Control de Acceso</th>
	</tr>
</table>

<p align='center'>
Cree sus propios menu, agrege usuarios al sistema y ademas controle el
acceso de los usuarios a cada una de las opciones creadas.
Los botones de la barra superior son para el mantenimiento de la aplicacion.
Saludos!!
</p>
  
}
